<h2>{{activities.name}}</h2>
{{#if displayActivityItems}}

<ul id="activities">




<li> 
    Name: {{activities.name}} <br />
    Address: {{activities.address}} <br /> 
    Description: {{activities.description}} <br />
    Hours: {{activities.hours}}</li>
    Phone Number: {{activities.phone}} <br /> 
    Website: {{activities.website}} <br /> </li>

    

</ul>
{{/if}}

