<div class="text-4xl font-serif"><h2>Here is your Surprise Activity</h2></div>

<ul>
    <li>
    <a href="/activities/{{randActivity.slug}}">{{randActivity.name}}</a></li>
    {{randActivity.name}} <br />  
    {{randActivity.address}} <br /> 
    {{randActivity.description}} <br />
    {{randActivity.hours}}</li>
    {{randActivity.phone}} <br /> 
    {{randActivity.website}} <br /> </li>
</ul>
